---
import ProgramVersions from '@/lib/components/ProgramVersions/ProgramVersions.svelte';

const year = new Date().getFullYear();
---

<footer class="zm-footer">
    <div class="container">
        <ProgramVersions client:idle />
    </div>
    <div class="zm-footer-copyright">
        Copyright © {year} Excedo Networks AB – All rights reserved.
    </div>
</footer>
